@charset "UTF-8";
.local::after, .control::after {
  content: '';
  display: block;
  clear: both;
}

@font-face {
  font-family: 'iconfont';
  src: url("./font/iconfont.eot");
  src: url("./font/iconfont.eot?#iefix") format("embedded-opentype"), url("./font/iconfont.woff2") format("woff2"), url("./font/iconfont.woff") format("woff"), url("./font/iconfont.ttf") format("truetype"), url("./font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

.local {
  box-sizing: border-box;
  width: 100%;
  padding: 0.4rem;
  /* 方块们 */
}

.local .game {
  position: relative;
  float: left;
  width: 5rem;
  height: 10rem;
  background-color: #f2faff;
  border: 1px solid blue;
  border-top: none;
}

.local .next {
  position: relative;
  float: left;
  width: 2.13333rem;
  height: 2.13333rem;
  margin-left: 0.66667rem;
  background: #f2faff;
  border: 1px solid blue;
}

.local .none, .local .current, .local .done {
  position: absolute;
  box-sizing: border-box;
  width: 0.5rem;
  height: 0.5rem;
}

.local .none {
  background-color: transparent;
}

.local .current {
  background-color: pink;
  box-shadow: inset 0 0 1px 0px red;
}

.local .done {
  background-color: gray;
  box-shadow: inset 0 0 1px 0px black;
}

.local .info {
  float: left;
  margin-left: 0.66667rem;
  margin-top: 0.33333rem;
  font-size: 0.34667rem;
}

.control {
  box-sizing: border-box;
  width: 100%;
  padding: 0.4rem;
  text-align: center;
}

.control .flexwrap {
  display: flex;
  justify-content: space-around;
}

.control button {
  width: 50%;
  outline: transparent;
}

.control button.pause {
  visibility: hidden;
}

.control button.left .iconfont, .control button.right .iconfont, .control button.down .iconfont {
  font-size: 0.85333rem;
}

.control .iconfont {
  height: 1.46667rem;
  line-height: 1.46667rem;
  font-size: 0.69333rem;
}
