@charset "UTF-8";
.screen::after, .screen .local::after,
.screen .remote::after {
  content: '';
  display: block;
  clear: both;
}

html,
body {
  margin: 0;
  padding: 0;
}

.hide {
  visibility: hidden;
}

.screen {
  width: 553px;
  margin: 0 auto;
  padding: 20px 30px;
}

.screen .local,
.screen .remote {
  position: relative;
  float: left;
  width: 350px;
}

.screen .local .title,
.screen .remote .title {
  width: 202px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
}

.screen .remote {
  width: 202px;
}

.screen .remote .next {
  position: absolute;
}

.screen .game {
  position: relative;
  float: left;
  width: 200px;
  height: 400px;
  background-color: #f2faff;
  border: 1px solid #abcefa;
  border-top: none;
}

.screen .next {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 33px;
  background: #f2faff;
  border: 1px solid #abcdef;
}

.screen .info {
  position: absolute;
  width: 150px;
  top: 120px;
  left: 203px;
  text-align: center;
}

.screen .info .waiting {
  color: #abcdef;
}

.screen .info .ready {
  display: none;
  width: 65%;
  height: 35px;
  background: #f2faff;
  border: none;
  border-radius: 8px;
  outline: none;
  margin: 15px auto;
  color: #000;
  font-size: 14px;
  letter-spacing: .2em;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
}

.screen .chat {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.screen .chat .wrap {
  height: 220px;
}

.screen .chat ul {
  box-sizing: border-box;
  padding: 0 20px;
}

.screen .chat li {
  list-style-type: none;
  text-align: left;
  text-indent: 0;
  margin-bottom: 5px;
}

.screen .chat .public {
  text-align: center;
  color: #666;
  font-size: 14px;
}

.screen .chat .self {
  text-align: left;
  color: #333;
  font-size: 16px;
}

.screen .chat .other {
  text-align: right;
  color: #333;
  font-size: 16px;
}

.screen .chat input {
  padding: 10px;
  width: 98%;
  border: 1px solid #abcdef;
  outline: none;
}

/* 方块们 */
.none, .current, .done {
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.none {
  background-color: transparent;
}

.current {
  background-color: pink;
  box-shadow: inset 0 0 1px 0px red;
}

.done {
  background-color: gray;
  box-shadow: inset 0 0 1px 0px black;
}
